.color-nav {
  background-color: rgb(255, 197, 125);
  font-family: "Courier New";
  font-weight: "bold";
}

.col-sm {
  flex-basis: 0;
  flex-grow: 1;
  position: relative;
  text-align: center;
}
.form-inline {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  font-family: "Courier New";
}

.heading {
  font-family: "Courier New";
  font-weight: "bold";
  text-align: center;
}
img {
  vertical-align: middle;
  border-style: none;
  box-shadow: 8px 8px 7px #ccc;
}

.row .mt-2 {
  font-family: "Courier New";
  text-align: center;
}

.subHeading{
  font-family: "Courier New";
}

.servings {
  font-family: "Courier New";
  font-size: 35px;
  font-weight: 900;
}

.h1, h1 {
  font-size: 2.5rem;
  font-weight: 900;
}

.h2, h2 {
  font-size: 2rem;
  font-weight: 900;
}

.mt-2, .my-2 {
  justify-content: center;
  margin-top: 0.5rem !important;
  background: bisque;
  margin-right: 40px;
  margin-left: 34px;
}

.mt-2,
.my-2 {
  justify-content: center;
  margin-top: 0.5rem !important;
}

.box {
  background-color: rgb(255, 255, 255);
  border-radius: 0.25rem;
  border: 1px solid #ced4da;
  margin: -2px;
  height: 100%;
  color: #495057;
  width: 647px;
  margin-top: 0.01rem !important;
  text-align: center;
  font-family: "Courier New";
}

.box:hover {
  background-color: #ee9076;
  border-radius: 0.25rem;
  border: 1px solid #ced4da;
  margin: -2px;
  height: 100%;
  color: white;
  width: 647px;
  margin-top: 0.01rem !important;
  text-align: center;
  font-family: "Courier New";
}

.justify-content-lg-center {
  justify-content: center;
  padding-right: 95px;
}

.hide{
  opacity: 0;
}

.col-sm-2{
  text-align:right
}

.indexText{
  font-weight: 900;
  text-align: center;
  padding-right: 20px;
}

.col-sm{
  font-family: "Courier New";
  margin: auto;
  display: block;
}

html {
  height: 100%; 
}
body {
  background-image: url("light-peach-bokeh-light-abstract-background_73588-57.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100% 100%;
  background-attachment: fixed;
}
