.color-nav {
  background-color: rgb(255, 197, 125);
  font-family: "Courier New";
  font-weight: "bold";
}

.col-sm {
  flex-basis: 0;
  flex-grow: 1;
  position: relative;
  text-align: center;
}
.form-inline {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  font-family: "Courier New";
}

.heading {
  font-family: "Courier New";
  font-weight: "bold";
  text-align: center;
}

.row .mt-2 {
  font-family: "Courier New";
}

.mt-2,
.my-2 {
  justify-content: center;
  margin-top: 0.5rem !important;
}

.box {
  background-color: rgb(255, 255, 255);
  border-radius: 0.25rem;
  border: 1px solid #ced4da;
  margin: -2px;
  height: 100%;
  color: #495057;
  width: 647px;
  margin-top: 0.01rem !important;
  text-align: center;
  font-family: "Courier New";
}

.box:hover {
  background-color: #ee9076;
  border-radius: 0.25rem;
  border: 1px solid #ced4da;
  margin: -2px;
  height: 100%;
  color: white;
  width: 647px;
  margin-top: 0.01rem !important;
  text-align: center;
  font-family: "Courier New";
}


.justify-content-lg-center {
  justify-content: center;
  padding-right: 95px;
}
